.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap : 8px 0;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-elements{
  margin: 0 auto;
  color: currentColor;
  font-size: 8px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(7,1fr);
  grid-gap: 8px;
  
}

.lanthanoides{
  margin: 0 auto;
  color: currentColor;
  font-size: 8px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(18,1fr);
  grid-gap: 8px;

}

.actinoides{
    margin: 0 auto;
    color: currentColor;
    font-size: 8px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(18,1fr);
    grid-gap: 8px;
}

.card-element{
  height: 55px;
  width: 55px;
  display: flex;
  flex-direction: column;
  background-color:yellowgreen;
  justify-content: space-evenly;
}
.period1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:8px;
}
.period2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:8px; 
}
.period2-left-elements{
  display: flex;
  flex-direction: row;
  gap:8px;
}
.period3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:8px;
}
.period4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:8px;
}
.period5{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:8px;
}
.period6{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:8px;
}
.period7{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:8px;
}

