.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap : 8px 0;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-heading-info{
  color: #c9ccd1;
  display: flex;
  flex-direction: row;
  gap: 0 10px;
  margin: 0 auto;
  /* justify-content: space-between; */
}

hr{
  border: 1px solid #c9ccd1;
  width: 40vw;
}

.arrow1{
  transform: rotate(-90deg);
}
.arrow2{
  transform: rotate(90deg);
}
